<html lang="en-US" dir="ltr"><head><script async="" src="file://piwik.openstreetmap.org/piwik.js"></script><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <!--[if lt IE 9]><script src="/assets/html5shiv-d41742a18274b0700292f6237ac3c948.js"></script><![endif]-->
  <script src="./OpenStreetMap _ Note_ 351328_files/application-f1b28df455556ad522eedcd6f8e58634.js"></script>
  <link rel="stylesheet" media="only screen and (max-width:721px)" href="http://www.openstreetmap.org/assets/small-ltr-80190708dad1acd38fa9c8e41ebae444.css">
  <link rel="stylesheet" media="screen and (min-width: 722px)" href="http://www.openstreetmap.org/assets/large-ltr-dc625e347628a2faeda11137303a6976.css">
  <link rel="stylesheet" media="print" href="http://www.openstreetmap.org/assets/print-ltr-ccc07ecec7aa2fbbf273edd1f84df917.css">
  <link rel="stylesheet" media="screen, print" href="http://www.openstreetmap.org/assets/leaflet-all-b7bfe2be5657e02e7913c392675608bc.css">
  <!--[if IE]>
    <link rel="stylesheet" media="screen" href="/assets/large-ltr-dc625e347628a2faeda11137303a6976.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-e4c8a946ad72437025aa0b8f754bbbe5.ico" />
  <![endif]-->
  <link rel="apple-touch-icon" type="image/png" href="http://www.openstreetmap.org/assets/osm_logo_57-578fdb15f809c71b78adfb459329cc26.png" sizes="57x57">
  <link rel="apple-touch-icon" type="image/png" href="http://www.openstreetmap.org/assets/osm_logo_72-c12cdd3207d2016499e05d656f773680.png" sizes="72x72">
  <link rel="apple-touch-icon" type="image/png" href="http://www.openstreetmap.org/assets/osm_logo_114-59ccea1a28fb9521abd0b802ff485202.png" sizes="114x114">
  <link rel="apple-touch-icon" type="image/png" href="http://www.openstreetmap.org/assets/osm_logo_144-351d2db188f6e4f106d3109413d7bba9.png" sizes="144x144">
  <link rel="icon" type="image/png" href="http://www.openstreetmap.org/assets/osm_logo_228-da06200e84d502f8a9a91965aa72a97e.png" sizes="228x228">
  <meta name="msapplication-TileImage" content="/assets/osm_logo_144-351d2db188f6e4f106d3109413d7bba9.png">
  <link rel="publisher" href="https://plus.google.com/111953119785824514010">
  <link rel="search" type="application/opensearchdescription+xml" title="OpenStreetMap Search" href="http://www.openstreetmap.org/assets/osm-d89d01267300bca667d9f78511f5cb4c.xml">
  <meta name="description" content="OpenStreetMap is the free wiki world map.">
  <meta property="og:image" content="/assets/osm_logo-4c0865834d91c00b67887ab1f4f7f666.png">
  <style type="text/css">.hidden { display: none !important }.hide_unless_logged_in { display: none !important }.hide_unless_administrator { display: none !important }.hide_unless_moderator { display: none !important }</style>
    <script src="./OpenStreetMap _ Note_ 351328_files/index-c46ad44cf2dbe4fb16fad6d0ef40e23f.js"></script>

  
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="NZXdC0s04Yl081KRX3e589M+/LZjWDPed5NHSLpwmaed01U/d8qgcQJ5DlExWjUgDU3SpIz0uOMUtN9cO0AEEw==">
  <script type="text/javascript">
    I18n.defaultLocale = "en";
    I18n.locale = "en-US";
    I18n.fallbacks = true;
    OSM.preferred_editor = "id";
  </script>
  <title>OpenStreetMap | Note: 351328</title>
</head>

  <body class="map-layout">
    <header class="closed">
  <h1>
    <a href="http://www.openstreetmap.org/#map=4/47.61/102.92" class="geolink">
      <img alt="OpenStreetMap logo" class="logo" src="./OpenStreetMap _ Note_ 351328_files/osm_logo-4c0865834d91c00b67887ab1f4f7f666.png">
      OpenStreetMap
    </a>
  </h1>
  <a href="http://www.openstreetmap.org/note/351328#" id="menu-icon"></a>
  <nav class="primary">
      <div class="search_forms">
  <form method="GET" action="http://www.openstreetmap.org/search" class="search_form">
    <a class="button switch_link" title="Find directions between two points" href="http://www.openstreetmap.org/directions"><img class="button" src="./OpenStreetMap _ Note_ 351328_files/directions-15f9494695b42186bd6414b5d99731fd.png" alt="Directions"></a>
    <input type="submit" name="commit" value="Go" class="float">
    <div class="query_wrapper">
      <input type="text" name="query" id="query" placeholder="Search" class="overflow">
      <a class="describe_location" title="Describe the current location using the search engine" href="http://www.openstreetmap.org/note/351328#">Where am I?</a>
    </div>
  </form>

  <form method="GET" action="http://www.openstreetmap.org/directions" class="directions_form">
    <div class="header"><span class="icon close"></span></div>

    <div class="line">
      <img class="routing_marker" data-type="from" draggable="true" src="./OpenStreetMap _ Note_ 351328_files/marker-green-f3a8fe919c1989204459d787f3d83855.png" alt="Marker green">
      <span class="force_width"><input type="text" name="route_from" id="route_from" placeholder="From"></span>
    </div>
    <div class="line">
      <img class="routing_marker" data-type="to" draggable="true" src="./OpenStreetMap _ Note_ 351328_files/marker-red-07ac910a24fd5baf81c9b276916781f0.png" alt="Marker red">
      <span class="force_width"><input type="text" name="route_to" id="route_to" placeholder="To"></span>
    </div>
    <div class="line">
      <select class="routing_engines" name="routing_engines"><option value="0">Bicycle (GraphHopper)</option><option value="1">Bicycle (MapQuest)</option><option value="2">Car (MapQuest)</option><option value="3">Car (OSRM)</option><option value="4">Foot (GraphHopper)</option><option value="5">Foot (MapQuest)</option><option value="0">Bicycle (GraphHopper)</option><option value="1">Bicycle (MapQuest)</option><option value="2">Car (MapQuest)</option><option value="3">Car (OSRM)</option><option value="4">Foot (GraphHopper)</option><option value="5">Foot (MapQuest)</option></select>
      <input type="submit" name="commit" value="Go" class="routing_go">
    </div>

    <div class="loader_copy"><div class="loader"><img src="./OpenStreetMap _ Note_ 351328_files/searching-e52dd15461ca65336e7222748c0df948.gif" alt="Searching"></div></div>
  </form>
</div>


    <ul>
      <li id="edit_tab" class="dropdown disabled" data-original-title="Zoom in to edit the map" title="">
        <a class="tab geolink editlink" id="editanchor" data-editor="id" href="http://www.openstreetmap.org/edit#map=4/47.61/102.92">Edit</a><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.openstreetmap.org/note/351328#"><b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
              <a data-editor="id" class="geolink editlink" href="http://www.openstreetmap.org/edit?editor=id#map=4/47.61/102.92">Edit with iD (in-browser editor)</a>
            </li>
            <li>
              <a data-editor="potlatch2" class="geolink editlink" href="http://www.openstreetmap.org/edit?editor=potlatch2#map=4/47.61/102.92">Edit with Potlatch 2 (in-browser editor)</a>
            </li>
            <li>
              <a data-editor="remote" class="geolink editlink" href="http://www.openstreetmap.org/edit?editor=remote#map=4/47.61/102.92">Edit with Remote Control (JOSM or Merkaartor)</a>
            </li>
        </ul>
      </li>
      <li id="history_tab" class="">
        <a class="tab geolink" href="http://www.openstreetmap.org/history#map=4/47.61/102.92">History</a>
      </li>
      <li id="export_tab" class="">
        <a class="tab geolink" href="http://www.openstreetmap.org/export#map=4/47.61/102.92">Export</a>
      </li>
    </ul>
  </nav>
  <nav class="secondary">
    <ul>
      <li class="compact-hide "><a href="http://www.openstreetmap.org/traces">GPS Traces</a></li>
      <li class="compact-hide "><a href="http://www.openstreetmap.org/diary">User Diaries</a></li>
      <li class="compact-hide "><a href="http://www.openstreetmap.org/copyright">Copyright</a></li>
      <li class="compact-hide "><a href="http://www.openstreetmap.org/help">Help</a></li>
      <li class="compact-hide "><a href="http://www.openstreetmap.org/about">About</a></li>
      <li id="compact-secondary-nav" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="http://www.openstreetmap.org/note/351328#">More <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class=""><a href="http://www.openstreetmap.org/traces">GPS Traces</a></li>
          <li class=""><a href="http://www.openstreetmap.org/diary">User Diaries</a></li>
          <li class=""><a href="http://www.openstreetmap.org/help">Help</a></li>
          <li class=""><a href="http://www.openstreetmap.org/about">About</a></li>
          <li class=""><a href="http://www.openstreetmap.org/copyright">Copyright</a></li>
        </ul>
      </li>
    </ul>
      <ul class="user-menu clearfix">
        <li><a href="http://www.openstreetmap.org/login?referer=%2F">Log In</a></li>
        <li><a href="http://www.openstreetmap.org/user/new">Sign Up</a></li>
      </ul>
  </nav>
</header>

    <div id="content" class="">
      <div id="sidebar">
    <div class="search_forms">
  <form method="GET" action="http://www.openstreetmap.org/search" class="search_form">
    <a class="button switch_link" title="Find directions between two points" href="http://www.openstreetmap.org/directions"><img class="button" src="./OpenStreetMap _ Note_ 351328_files/directions-15f9494695b42186bd6414b5d99731fd.png" alt="Directions"></a>
    <input type="submit" name="commit" value="Go" class="float">
    <div class="query_wrapper">
      <input type="text" name="query" id="query" placeholder="Search" autofocus="autofocus" class="overflow">
      <a class="describe_location" title="Describe the current location using the search engine" href="http://www.openstreetmap.org/note/351328#">Where am I?</a>
    </div>
  </form>

  <form method="GET" action="http://www.openstreetmap.org/directions" class="directions_form">
    <div class="header"><span class="icon close"></span></div>

    <div class="line">
      <img class="routing_marker" data-type="from" draggable="true" src="./OpenStreetMap _ Note_ 351328_files/marker-green-f3a8fe919c1989204459d787f3d83855.png" alt="Marker green">
      <span class="force_width"><input type="text" name="route_from" id="route_from" placeholder="From"></span>
    </div>
    <div class="line">
      <img class="routing_marker" data-type="to" draggable="true" src="./OpenStreetMap _ Note_ 351328_files/marker-red-07ac910a24fd5baf81c9b276916781f0.png" alt="Marker red">
      <span class="force_width"><input type="text" name="route_to" id="route_to" placeholder="To"></span>
    </div>
    <div class="line">
      <select class="routing_engines" name="routing_engines"><option value="0">Bicycle (GraphHopper)</option><option value="1">Bicycle (MapQuest)</option><option value="2">Car (MapQuest)</option><option value="3">Car (OSRM)</option><option value="4">Foot (GraphHopper)</option><option value="5">Foot (MapQuest)</option><option value="0">Bicycle (GraphHopper)</option><option value="1">Bicycle (MapQuest)</option><option value="2">Car (MapQuest)</option><option value="3">Car (OSRM)</option><option value="4">Foot (GraphHopper)</option><option value="5">Foot (MapQuest)</option></select>
      <input type="submit" name="commit" value="Go" class="routing_go">
    </div>

    <div class="loader_copy"><div class="loader"><img src="./OpenStreetMap _ Note_ 351328_files/searching-e52dd15461ca65336e7222748c0df948.gif" alt="Searching"></div></div>
  </form>
</div>



    <div id="flash"></div>

    <div id="browse_status"></div>

    <div id="sidebar_loader" style="display: none;">
      <img alt="Loading..." class="loader" src="./OpenStreetMap _ Note_ 351328_files/searching-e52dd15461ca65336e7222748c0df948.gif">
    </div>

    <div id="sidebar_content"><h2>
  <a class="geolink" href="http://www.openstreetmap.org/#map=4/47.61/102.92"><span class="icon close"></span></a>
  Unresolved note #351328
</h2>

<div class="browse-section">
  <h4>Description</h4>
  <div class="note-description">
    <p>111</p>
  </div>

  <div class="details" data-coordinates="30.6677794,104.0729284" data-status="open">
    Created by anonymous <abbr title="Wed, 22 Apr 2015 02:07:30 AM UTC"><span title="22 April 2015 at 02:07">14 days</span> ago</abbr>
  </div>

    <p class="warning">This note includes comments from anonymous users which should be independently verified.</p>


    <form action="http://www.openstreetmap.org/note/351328#">
      <textarea class="comment" name="text" cols="40" rows="5"></textarea>
      <div class="buttons clearfix">
        <input type="submit" name="hide" value="Hide" class="hide_unless_moderator deemphasize" data-note-id="351328" data-method="DELETE" data-url="http://www.openstreetmap.org/api/0.6/notes/351328.json">
        <input type="submit" name="close" value="Resolve" class="hide_unless_logged_in" data-note-id="351328" data-method="POST" data-url="http://www.openstreetmap.org/api/0.6/notes/351328/close.json">
        <input type="submit" name="comment" value="Comment" data-note-id="351328" data-method="POST" data-url="http://www.openstreetmap.org/api/0.6/notes/351328/comment.json" disabled="">
      </div>
    </form>
</div></div>

      <div class="welcome">
        <h2><a><span class="icon close"></span></a>Welcome to OpenStreetMap!</h2>
        <p>OpenStreetMap is a map of the world, created by people like you and free to use under an open license.</p>
        <a class="button learn-more" href="http://www.openstreetmap.org/about">Learn More</a>
        <a class="button sign-up" href="http://www.openstreetmap.org/user/new">Start Mapping</a>
      </div>
  </div>

  <noscript>
    &amp;lt;div id="noscript"&amp;gt;
      &amp;lt;p&amp;gt;You are either using a browser that does not support JavaScript, or you have disabled JavaScript.&amp;lt;/p&amp;gt;
      &amp;lt;p&amp;gt;OpenStreetMap uses JavaScript for its slippy map.&amp;lt;/p&amp;gt;
    &amp;lt;/div&amp;gt;
  </noscript>

 

  <div id="map" tabindex="2" class="leaflet-container leaflet-fade-anim">
  </div>

  <div id="attribution">
    <table>
      <tbody><tr>
        <td class="attribution_license">http://openstreetmap.org/copyright</td>
        <td class="attribution_project">http://openstreetmap.org</td>
      </tr>
      <tr>
        <td colspan="2" class="attribution_notice">Copyright OpenStreetMap and contributors, under an open license</td>
      </tr>
    </tbody></table>
  </div>

</div>

    <noscript>&amp;lt;p&amp;gt;&amp;lt;img src="http://piwik.openstreetmap.org/piwik.php?idsite=1" style="border:0" alt="" /&amp;gt;&amp;lt;/p&amp;gt;</noscript>
  


</body></html>